.sign-up {
  width: 100%;
  max-width: 390px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 970px) {
    padding-bottom: 5em;
    font-size: 0.9em;
  }

  @media screen and (max-width: 600px) {
    .custom-button {
      width: 100%;
      font-size: 14px;
    }
  }

  .title {
    margin: 10px 0;
  }
}